@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Mono:ital,wght@0,700;1,700&display=swap");
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@theme {
  --font-jbmono: "JetBrains Mono", monospace;
  --font-consolas: "Consolas", monospace;
}

@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/consolas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Color bg */
  background: var(--bg-primary);
  --bg-primary: #ede8de;
  --bg-primary-second: #e1ddd4;
  --bg-secondary: #e8e3d9;
  --bg-tertiary: #e9e3d9;
  --bg-border: #bebab3;
  --border-hover-btn: #757575;

  /* Color text */
  --text-primary: #141414;
  --text-secondary: #585757;
  --text-tertiary: #484848;

  /* Color btns */
  --bg-btn-primary: #f50;
  --bg-inactive-btn: #d4d0c8;
  --bg-disable-btn: #b0ada5;

  /* Color status tags */
  --bg-task-new: #73baed;
  --bg-task-inprogress: #b093f4;
  --bg-task-paused: #dbd87e;
  --bg-task-complete: #7abe7f;
  --bg-task-cancelled: #e47777;
  --bg-task-closed: #aaa7a3;
  --bg-task-error: #d14747;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  max-width: 1920px;
  margin: 0 auto; /* центрирует блок, когда он не занимает всю ширину родителя */

  /* max-width: 1920px;
  max-height: 1080px; */

  scrollbar-width: none;
}

.dark {
  /* Color bg */
  background: var(--bg-primary);
  --bg-primary: #0c0b0b;
  --bg-primary-second: #0e0e0e;
  --bg-secondary: #121212;
  --bg-tertiary: #0f0f0f;
  --bg-border: #201e1e;
  --border-hover-btn: #595959;

  /* Color text */
  --text-primary: #ede8de;
  --text-secondary: #908e8e;
  --text-tertiary: #c3c0ba;
  --text-btn: #0c0b0b;

  /* Color btns */
  --bg-btn-primary: #a1ff62;
  --bg-inactive-btn: #4f4c4c;
  --bg-disable-btn: #1d1d1d;

  /* Color status tags */
  --bg-task-new: #50a1db;
  --bg-task-inprogress: #9872f1;
  --bg-task-paused: #dfdb65;
  --bg-task-complete: #44a74c;
  --bg-task-cancelled: #dd4d4d;
  --bg-task-closed: #969090;
  --bg-task-error: #842222;
}

/* body {
  scrollbar-width: none;
} */

body::-webkit-scrollbar {
  display: none;
}

.dropdown-scroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.dropdown-scroll::-webkit-scrollbar-thumb {
  background: var(--bg-inactive-btn);
  border-radius: 2px;
}
.dropdown-scroll::-webkit-scrollbar-track {
  background: transparent;
}
